/*---universal selector---*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---Custom scroll bar---*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color:rgb(101, 29, 29);
}

::-webkit-scrollbar-thumb {
    background-color:white;
    border-radius:100px;
}

/*--root methods--*/
:root {}




.nav-container {

    height: 200vh;
    border: 1px solid black;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    justify-items: center;
    align-items: center; */
    gap: 20px;
    padding: 20px;
    overflow-x: scroll;
    /* white-space: nowrap; */
    /* overflow-y:hidden; */

}

.box-1 {
    min-width: 300px;
}

img {
    width: 70%;
    height: 70%;
    padding: 10px;
}